{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<div class="col-sm-12">
  <h2 style="font-size: 30px; font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;">{{Question}}</h2>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="/*! flex: 1; *//*!  */">
    <li class="nav-item" style="width: 50%;">
      <a class="nav-link active" id="pills-DragPIN-Manual-tab" data-toggle="pill" href="#pills-DragPIN-Manual" role="tab" aria-controls="pills-DragPIN-Manual" aria-selected="true">DragPIN-Manual</a>
    </li>
    <li class="nav-item" style="width: 50%;">
      <a class="nav-link" id="pills-DragPIN-Auto-tab" data-toggle="pill" href="#pills-DragPIN-Auto" role="tab" aria-controls="pills-DragPIN-Auto" aria-selected="false">DragPIN-Auto</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
<!-- Drag man -->
    <div class="tab-pane fade show active" id="pills-DragPIN-Manual" role="tabpanel" aria-labelledby="pills-DragPIN-Manual-tab" >
      <div class="table-responsive" id="drag-manual-container">
        <table class="table table-borderless.table" id="emoji">
          <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            {% for Emoji in EmojiArray %}
            <td>
            <span class="badge badge-light" style="width: 50px;height: 20px; font-size: 20px;  padding: 0;" > {{Emoji}}</span>
            </td>
            {% endfor %}
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
        </table>
          <table class="table table-borderless.table" id="Drag">
          {% for array in results %}
            <tr>
              <td><button type="button" class="btn btn-dark btn-sm" id="left" value="◀️" >◀️</button></td>
              {% for content in array %}
              <td id={{content.id}}>
                {% if content.value == "A" %}
                  <span class="badge badge-info" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
                {% endif %}
                {% if content.value == "B" %}
                  <span class="badge badge-secondary" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
                {% endif %}
                {% if content.value == "C" %}
                  <span class="badge badge-success" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
                {% endif %}
                {% if content.value == "D" %}
                  <span class="badge badge-danger" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
                {% endif %}
                {% if content.value == "E" %}
                  <span class="badge badge-warning" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
                {% endif %}
              </td>
              {% endfor %}
              <td><button type="button" class="btn btn-dark btn-sm" id="right" value="▶️">▶️</button></td>
            </tr>
          {% endfor %}
        </table>
        <form method="post" id="dragform">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary btn-block" id="Dragpin-in" >Sign in</button>
        </form>
      </div>
    </div>

<!-- Drag auto -->
    <div class="tab-pane fade" id="pills-DragPIN-Auto" role="tabpanel" aria-labelledby="pills-DragPIN-Auto-tab">
      <div class="table-responsive" id="drag-auto-container">
        <table class="table table-borderless.table" id="emoji_auto">
          <tr>
            {% for Emoji in EmojiArray %}
            <td>
            <span class="badge badge-light" style="width: 50px;height: 20px; font-size: 20px;  padding: 0;" > {{Emoji}}</span>
            </td>
            {% endfor %}
          </tr>
        </table>
        <table class="table  table-borderless.table" id="Dragauto">
        {% for array in results %}
          <tr class="tablerow thing">
          {% for content in array %}
          <td id="1{{content.id}}">
            {% if content.value == "A" %}
              <span class="badge badge-info" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
            {% endif %}
            {% if content.value == "B" %}
              <span class="badge badge-secondary" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
            {% endif %}
            {% if content.value == "C" %}
              <span class="badge badge-success" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
            {% endif %}
            {% if content.value == "D" %}
              <span class="badge badge-danger" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
            {% endif %}
            {% if content.value == "E" %}
              <span class="badge badge-warning" style="width: 50px;height: 20px;font-size: 20px;  padding: 0;" value="{{content.value}}"> {{content.value}}</span>
            {% endif %}
          </td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <form method="post" id="dragautoform">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block" id="Dragpin-in" >Sign in</button>
      </form>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("button").on("click", function() {
      if ($(this).attr("value") == '◀️') {
        var fid = $(this).closest('tr').find('td:eq(1)').attr('id');
        $shift2last=$("#"+fid).clone();
        $("#"+fid).remove();
        $(this).closest('tr').find('td:eq(9)').after($shift2last);
      } else if ($(this).attr("value") == '▶️') {
        var lid = $(this).closest('tr').find('td:eq(10)').attr('id');
        $shift2first=$("#"+lid).clone();
        $("#"+lid).remove();
        $(this).closest('tr').find('td:eq(1)').before($shift2first);
    	}
    });

    $('#dragform').submit(function(e){
      // preventing from page reload and default actions
      e.preventDefault();
      // serialize the data for sending the form data.
      var serializedData = $(this).serialize();
      var spanArr = new Array();
      $("#Drag").find("span").each(function() {
        spanArr.push($(this).attr('value'));
      });
      // make POST ajax call
      $.ajax({
      url: '{% url "EmojiDrag" %}',
      type: 'POST',
      data: {'result[]': spanArr,},
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      success: function(response) {
        $('#footer').html(response);
            }
      });
    });

// DragPIN auto on spacebar
let spanArr = new Array();
document.getElementById("pills-DragPIN-Auto-tab").onclick = function() {DragautoFunction()};
          let Row = 0;
          function DragautoFunction() {
            var interval = window.setInterval(function () {
                // do your thing, do your thing
                var cid =  $("#Dragauto").find('tr').eq(Row).find('td').eq(0).attr('id');
                $shiftlast = $("#" + cid).clone();
                $("#" + cid).remove();
                $("#Dragauto").find('tr').eq(Row).find('td').last().after($shiftlast);
            }, 1000);
            document.onkeydown = function(event) {
              if (event.keyCode == "13") {
                console.log("Enter key pressed");
                window.clearInterval(interval);
                Row = Row + 1;
              }
              if (event.keyCode == "32") {
                console.log("Space key pressed");
                // store entry
                var Arr = new Array();
                $("#Dragauto").find('tr').eq(Row).find("span").each(function() {
                  Arr.push($(this).attr('value'));
                });
                console.log(Arr);
                spanArr = spanArr.concat(Arr);
              }
            };
          };


    $('#dragautoform').submit(function(e){
      // preventing from page reload and default actions
      e.preventDefault();
      // serialize the data for sending the form data.
      console.log(spanArr);
      // make POST ajax call
      $.ajax({
      url: '{% url "EmojiDrag" %}',
      type: 'POST',
      data: {'result[]': spanArr,},
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      success: function(response) {
        $('#footer').html(response);
      }
      });
    });
});
</script>
{% endblock %}
