{% extends 'base.html' %}
{% block content %}
    <div class="col-sm-4">
      <h2>About us:</h2>
      <div class="card" style="width: 18rem; background-color: #e9ecef;">
        <div class="card-body">
          <h5 class="card-title">Dr. Yvonne Kam Hwei Syn</h5>
          <h6 class="card-subtitle mb-2 text-muted">Supervisor</h6>
          <p class="card-text">A researcher and lecturer in the Faculty of Engineering at Multimedia University (MMU)</p>
          <a href="https://mmuexpert.mmu.edu.my/hskam" class="card-link">MMU</a>
        </div>
      </div>&nbsp;

      <div class="card" style="width: 18rem; background-color: #e9ecef;">
        <div class="card-body">
          <h5 class="card-title">Mr. Mahrous Amer</h5>
          <h6 class="card-subtitle mb-2 text-muted">Student</h6>
          <p class="card-text">A computer engineer under construction</p>
          <a href="https://www.linkedin.com/in/mohamed-mahrous-amer/" class="card-link">Linkedin</a>
          <a href="https://github.com/mahrous-amer" class="card-link">Github 💻</a>
        </div>&nbsp;
      </div>
    </div>
    <div class="col-sm-8">
      <h2>GRAPHICAL USER AUTHENTICATION SYSTEM</h2>
      <h5>

      </h5>
      <a class="nav-link" href="https://docs.google.com/document/d/14JHeuOSdX9uRW_J3HJMJKpK3Nt9jH6Wis4KjmGub4CM/edit?usp=sharing">Project Proposal</a>
      <a class="nav-link" href="https://docs.google.com/presentation/d/1PvOBMRnOUK6IBYuo587mnhh6ioCPXNayMLpeaoYrx_E/edit?usp=sharing">Project Presentation</a>
    </div>
{% endblock %}
