{% extends 'base.html' %}
{% block content %}
<meta charset="UTF-8">
    <div class="col-sm-4">
      <form method="post" id="Sign_in">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
    </div>

    <script  type="text/javascript">
      $('#Sign_in').submit(function(e){
        // preventing from page reload and default actions
        e.preventDefault();
        var serializedData = $(this).serialize();

        $.ajax({
        url: '{% url "login" %}',
        type: 'POST',
        data: {'form': serializedData,},
        headers: { "X-CSRFToken": '{{csrf_token}}' },
        success: function(response) {
          $('#footer').html(response);
              }
        });

      });
    </script>
{% endblock %}
